<link rel="stylesheet" href="stylesheets/common.css">
<style>
    #threat-bar {
        border: 1px solid lightslategrey;
    }

    #bar-label {
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 2;
        float: left;
    }

    #bar-bg {
        height: 100%;
        position: relative;
        z-index: 1;
    }
</style>

<body class="bodyDefault inheritSize">
<div id="threat-bar" class="inheritSize">
    <div id="bar-label"></div>
    <div id="bar-bg"></div>
</div>
</body>