:root {
    --individual-color: #303030;
    --network-color: #c0c0c0;
    --proximity-color: #008000;
    --installation-color: #5555FF;
    --radical-color: #e6e037;
    --violence-color: #800080;

    --highlight-color: #FBFE11;
}

#overview-container {
    height: 100%;
    border-right: 1px solid lightslategrey
}

.postListHeader {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    padding: 1%
}

#post-list {
    height: 95%;
    border-right: 2px groove darkgrey;
    overflow-x: hidden;
}

.headerBox {
    border-bottom: 1px solid grey;
}

.headerMargins {
    margin-top: 3.4px;
    margin-left: 10px;
}

.headerH1Text {
    font-size: 22px;
    text-decoration: underline;
}

.headerLabelText {
    font-size: 16px;
}

.popup {
    border: 2px solid black;
    box-shadow: 5px 5px 10px 3px darkgray;
    background-color: white;
    padding: 5px;
    z-index: 10000;
}

.popup label {
    display: block;
    height: 18px;
    margin: 0 0 0 0;
}

.popup input {
    display: block;
    height: 17px;
    margin: 1.5px 0 0 0;
}