<link rel="stylesheet" href="stylesheets/common.css">
<style>

</style>

<body class="bodyDefault inheritSize">
<div id="word-cloud" style="width: 95%; height: 30%; margin: 0 auto"></div>
<div id="image-gallery" class="flexhorizont vertScroll" style="width: 95%; height: 62%; margin: 0 auto"></div>
<div class="flexhorizont" style="margin-top: 7px; margin-right: 10px; float: right">
    <div id="prev-page" class="clickable unselectable"><< Previous</div>
    <div id="next-page" class="clickable unselectable textSpacer">Next >></div>
</div>
</body>