<body>
<div id="cesiumContainer" class="fullSize"></div>
</body>

<script>
    function count_to_color(perc_index, axis_length) {
        let ratio = perc_index / axis_length;
        if (ratio <= 0.5) {
            r = (ratio * 2) * 255.0;
            g = 255.0;
            b = 0;
        } else {
            r = 255.0;
            g = 255.0 + 255.0 - ((ratio * 2) * 255);
            b = 0;
        }
        return Cesium.Color.fromBytes(r, g, b, 150, new Cesium.Color());
    }

    function count_to_height(perc_index, axis_length) {
        let ratio = (perc_index + 1) / axis_length;
        return 400_000.0 * ratio;
    }

    function axis_idx_from_count(location_counts, count_stats, location_id) {
        let count = location_counts[location_id];
        let perc_idx = 0;
        for (let i = 0; i < count_stats["perc_axis"].length; i++) {
            let axis_val = count_stats["perc_axis"][i];
            if (count > axis_val) {
                perc_idx = i;
            }
        }
        return perc_idx;
    }

    that.billboardDataSource = new Cesium.CustomDataSource('billboards');
    that.removeListener = null;

    let clusters = {}; // each location can only be in one cluster, so mapping the first element id -> cluster object
    let clusterMembers = {};
    let tempBillboards = {};

    function redrawClusters() {
        billboardDataSource.clustering.enabled = true;
        billboardDataSource.pixelRange = 20;
        billboardDataSource.minimumClusterSize = 3;

        let pinBuilder = new Cesium.PinBuilder();
        if (Cesium.defined(removeListener)) {
            removeListener();
            removeListener = undefined;
        } else {
            removeListener = billboardDataSource.clustering.clusterEvent.addEventListener(function (clusteredEntities, cluster) {
                cluster.label.show = false;
                cluster.billboard.show = true;
                cluster.billboard.id = cluster.label.id;
                cluster.billboard.verticalOrigin = Cesium.VerticalOrigin.BOTTOM;

                let clusterId = clusteredEntities[0]["name"];
                clusters[clusterId] = cluster;
                clusterMembers[clusterId] = [];

                let max_perc_idx = 0;
                for (let entity of clusteredEntities) {
                    clusterMembers[clusterId].push(entity);
                    // Object is being re-clustered (after being shown on click)
                    if (entity.name in Object.keys(tempBillboards)) {
                        widget.entities.remove(entity);
                        delete tempBillboards[entity.name];
                    }

                    if (entity.perc_idx > max_perc_idx) {
                        max_perc_idx = entity.perc_idx;
                    }
                }

                cluster.billboard.image = pinBuilder.fromColor(count_to_color(max_perc_idx, count_stats["perc_axis"].length), 48).toDataURL()
            });
        }
        billboardDataSource.clustering.pixelRange = 0;
        billboardDataSource.clustering.pixelRange = 15;
    }

    function render2dLocations(locations) {
        let pinBuilder = new Cesium.PinBuilder();
        for (let location of locations) {
            let perc_idx = axis_idx_from_count(location_counts, count_stats, location["_id"]);
            billboardDataSource.entities.add({
                name: location["_id"],
                perc_idx: perc_idx,
                position: Cesium.Cartesian3.fromDegrees(location["lon"], location["lat"]),
                billboard: {
                    image: pinBuilder.fromColor(count_to_color(perc_idx, count_stats["perc_axis"].length), 48).toDataURL()
                    // image: pinBuilder.fromColor(Cesium.Color.WHITE.withAlpha(0.0), 48).toDataURL()
                }
            });
        }
        redrawClusters();
        console.log("2D Render Done");

        registerHoverEvent()
    }

    let cylinderEntities = {};

    function render3dLocations(locations) {
        for (let location of locations) {
            let perc_idx = axis_idx_from_count(location_counts, count_stats, location["_id"]);
            let new_cylinder = {
                name: location["_id"],
                position: Cesium.Cartesian3.fromDegrees(location["lon"], location["lat"],
                    count_to_height(perc_idx, count_stats["perc_axis"].length) / 2.0),
                cylinder: {
                    length: count_to_height(perc_idx, count_stats["perc_axis"].length),
                    topRadius: 20_000.0,
                    bottomRadius: 20_000.0,
                    material: count_to_color(perc_idx, count_stats["perc_axis"].length),
                    // outline: true,
                    // outlineColor: Cesium.Color.BLACK,
                    numberOfVerticalLines: 2
                }
            };
            cylinderEntities[location["_id"]] = new_cylinder;

            widget.entities.add(new_cylinder);
        }
    }

    let count_stats = null;
    let locations = null;
    let location_counts = {};

    function fetchAndRenderLocations(is2DRender) {
        widget.dataSources.add(billboardDataSource);

        if (locations != null) {
            if (is2DRender) {
                render2dLocations(locations)
            } else {
                render3dLocations(locations)
            }
        }

        fetch("/locations/count_stats")
            .then((resp) => resp.text())
            .then((r) => {
                count_stats = JSON.parse(r);
                fetch("/locations/locations")
                    .then((resp) => resp.text())
                    .then((r) => {
                        locations = JSON.parse(r);
                        Promise.all(locations.map(location => fetch("/locations/count/" + location["_id"])
                            .then(resp => resp.text()).then((text) => {
                                try {
                                    let count = JSON.parse(text);
                                    location_counts[location["_id"]] = parseInt(count)
                                } catch (e) {
                                    console.log("Invalid location lookup: " + location);
                                }
                            }))
                        ).then((_) => {
                            if (is2DRender) {
                                render2dLocations(locations)
                            } else {
                                render3dLocations(locations)
                            }
                        });
                    });
            });
    }

    fetchAndRenderLocations(true);
</script>
