<link rel="stylesheet" href="common/stylesheets/common.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
    #account-image {
        width: 70%;
        margin: 0 auto 0 auto;
        display: block;
    }

    #threat-factors-col {
        width: 50%;
        vertical-align: top;
        text-align: center;
        margin-top: 5px;
    }

    .threatBar {
        width: 80%;
        height: 12%;
        margin-bottom: 5px;
    }

    .cardText {
        font-size: 14px;
        margin-top: 3px;
    }
</style>

<body class="bodyDefault inheritSize">
<div id="alert-card" class="inheritSize horizont">
    <div class="horizont" style="width: 50%">
        <div id="account-image-box">
            <i id="account-image-icon" class="material-icons">
                account_circle
            </i>
            <img id="account-image">
        </div>
        <div id="user-name" class="centerAlignText cardText"></div>
        <div id="alert-summary" class="centerAlignText cardText"></div>
    </div>
    <div id="threat-factors-col" class="horizont">
        <div>Threat Factors</div>
    </div>
</div>
</body>